<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Deployement Complete Execution Result Details with version 1.0.0.5</title>

<!--<div style="font-weight:900; font-size:15; background-color: #696969; width:28%; color:white; text-align:left">&nbsp;Deployment Complete report for CPG build on LR-Test-Stack-92</div><br>-->
</head>
<body bgcolor=BADDFF>
Attention DEV Environment Users, <br>

The DA team has completed an automatic deployment to the DEV environment.  The system is starting to execute integration test suite now. Please wait for test result.
<br><br> 


<b></b><i>Please let us know if you encounter any issues drop an email to <a href=mailto>DA@Sapient.com</a></i>
</body>
</html>
